.btn-darkmode{
    font-size: 15px;
    border: 2px solid black;
    border-radius: 100%;
    padding: 0.5rem;
    cursor: pointer;
    :active{
        opacity: 50%;
    }
}

.sun{
    padding: 0px;
    display: block;
    margin: auto;
    color: black;
}

.moon{
    color: white;
}