@import "../main.scss";

.projects-main-contain{
    display: flex;
    flex-direction: column;
    text-align: center;
    h3{
        font-size: 30px;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.479);
        text-transform: uppercase;
    }
    .projects-contain{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .project-contain{
            font-size: 20px;
            background-color: $orange-web;
            text-align: center;
            cursor: pointer;
            width: 350px;
            margin:auto 0 8%;
            border-radius: 10px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.479);
        } .project-contain:hover{
            transition: 0.5s;
            transform: scale(105%);
            box-shadow: 0 20px 26px rgba(0, 0, 0, 0.479);
        }
            img{
                display: block;
                object-position: top;
                width: 100%;
                height: 40%;
                max-height: 200px;
                object-fit: cover;
            }
            h4{
                margin: 15px;
            }
            p{
                color: #e5e5e5ff;;
                margin: 5px;
                background-color: #14213dff;
                border-radius: 100px;
                padding: px;               
            }
        
    }   

}




.modal-content{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 850px;
    text-align: center;
    overflow-y: auto;
    background-color: yellow;
    border-radius: 10px;
    .closebtn{
        position: absolute;
        right: 0;
        margin: 1rem;
        width: 2em; height: 2em;
        border-radius: 50%;
        border: none;
        font-weight: bold;
        font-size: 20px;
        color: black;
        cursor: pointer;
        &:focus {
            outline: solid 0 transparent;
            box-shadow: 0 0 0 2px #0000009c
        }
        
        &:hover {
            transition: 0.2s;
            transform: scale(130%);
            background: rgba(0, 0, 0, 0.1);
            border: 1px solid black;
        }
        }

    .link-project{
        text-decoration: none;
        &:hover{
            opacity: 50%;
        }
    }
    .modal-contain{
        display: flex;
        flex-direction: column;
        text-align: center;
        .carousel{
            .pic-carousel{
                width: 100%;
                height: 100%;
            }
        }
        h3{
            font-size: 20px;
        }
        .startdate{
            padding-top: 40px;
        }
        .techs-contain{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            img{
                width: 50px;
            }
        }
    }
}



